table{
  width: 100%;
  background: white;
}

.custom-table{
  border-spacing: 0;
  & img{
    width: 50px;
  }

  & thead tr{
  }

  & thead th{
    text-align: start;
    color: $color-grey;
    text-transform: capitalize;
  }

  & tbody td{
    text-align: start;
    font-weight: bold;
  }
}