.sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  background: #f9f8ff;
  padding-top: 5rem;
  height: 100vh;
  z-index: -1;

  & a {
    color: darken($color-grey, 10);
  }

  & div {
    margin-top: 30px;
  }

  & h5 {
    font-weight: bold;
    color: $color-blue;
  }

  & .title {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
    color: darken($color-grey, 10);
    padding-bottom: 10px;
  }

  & .data {
    font-weight: bold;
    font-size: 1.5rem;
  }
}