.menu {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
  border-bottom: .1px solid $color-grey;

  & .menu-left {
    padding-left: 2.9rem;
  }

  & .menu-right{
    margin-right: 2rem;
    text-align: left;
  }

  & a {
    text-transform: capitalize;
    color: $color-black;
    text-decoration: none;

    &:hover {
      color: darken($color-black, 40);
    }
  }
}